/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* Animation for LOGIN FORM */
@-webkit-keyframes bounce {
    0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
    70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
    90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0); transform: translateY(0); }
}
@-moz-keyframes bounce {
    0% { -moz-transform: translateY(-2000px); transform: translateY(-2000px); }
    70% { -moz-transform: translateY(30px); transform: translateY(30px); }
    90% { -moz-transform: translateY(-10px); transform: translateY(-10px); }
    100% { -moz-transform: translateY(0); transform: translateY(0); }
}
@-o-keyframes bounce {
    0% { -o-transform: translateY(-2000px); transform: translateY(-2000px); }
    70% { -o-transform: translateY(30px); transform: translateY(30px); }
    90% { -o-transform: translateY(-10px); transform: translateY(-10px); }
    100% { -o-transform: translateY(0); transform: translateY(0); }
}
@keyframes bounce {
    0% { -webkit-transform: translateY(-2000px); -moz-transform: translateY(-2000px); -o-transform: translateY(-2000px); transform: translateY(-2000px); }
    70% { -webkit-transform: translateY(30px); -moz-transform: translateY(30px); -o-transform: translateY(30px); transform: translateY(30px); }
    90% { -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
}
@-webkit-keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}
@-moz-keyframes shake {
    0%, 100% { -moz-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -moz-transform: translateX(10px); transform: translateX(10px); }
}
@-o-keyframes shake {
    0%, 100% { -o-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -o-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -o-transform: translateX(10px); transform: translateX(10px); }
}
@keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); -o-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); -moz-transform: translateX(10px); -o-transform: translateX(10px); transform: translateX(10px); }
}

body { 
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/Layer.png");
    background-position: top center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-header{
    min-width: 965px;
    margin-bottom: 75px;
}
.main-header-logo{
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 368px;
    height: 163px;
    display: block;
    margin-right: 65px
}

.main-navigation{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -webkit-flex-direction: column;

       -moz-box-orient: vertical;

       -moz-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
    background-color: transparent;

    margin-bottom: 60px;
}
.main-navigation-wrapper{
    width: 100%;

    background-color: #000000;
    margin-bottom: 75px;
}
.main-navigation-wrapper .container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.inner-page .main-navigation-wrapper{
    margin-bottom: 55px;
}
.site-navigation{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    margin: 0;
    padding: 0;

    min-width: 620px;
}

.user-navigation{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    padding: 0;

    max-width: 140px;
}
.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
    
    vertical-align: middle;
    color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    background-color: #242424;
}
.site-navigation-current{
    position: relative;
}
.site-navigation-current::after{
    content: "";

    position: absolute;
    left: 20px;
    bottom: 0;
    right: 20px;

    height: 5px;
    background-color: white;
}
.user-navigation .login-link{
    position: relative;
    padding-left: 50px;
}
.login-link::before{
    content: "";
    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url(../img/icons/login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before{
    opacity: 1;
}


.features-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 170px;
}
.feature-item {
    text-align: center;
    min-height: 280px;
}
.features h3{
    font-size: 30px;
    line-height: 42px;
}
.feature-item h3 {
    position: relative;

    font-size: 30px;
    line-height: 42px;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
}
.feature-item h3::after {
    content: "";

    position: absolute;
    top: 55px;
    bottom: -30px;
    left: 50%;
    
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-bottom: 30px;

    background-color: white;

    -webkit-transform: rotate(45deg);

       -moz-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

         -o-transform: rotate(45deg);

            transform: rotate(45deg);
}
.feature-item p {
    margin: 0 10px;
}

.index-columns {
    color: #000000;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    background-color: white;
    background-image: url("../img/background-news-column.png"),
                        url("../img/background-news.png");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns h2 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.news{
    width: 380px;
}
.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}
.news-item time {
    text-transform: none;
}
.news-item{
    margin-bottom: 25px;
}
.news-item p{
    margin: 0;
}

.gallery {
    position: relative;
    width: 300px;
    min-height: 260px;


    background-image: url("../img/background-news.png");
    background-repeat: repeat;
    background-color: white;
}
.gallery-content{
    border: 7px solid #ffffff;
}
.gallery-button{
    position: absolute;
    bottom: 0;

    -webkit-box-sizing: border-box;

       -moz-box-sizing: border-box;

            box-sizing: border-box;
    width: 140px;
    margin: 0;
}
.gallery-button-back{
    left: 0;
}
.gallery-button-next{
    right: 0;
}

.contacts{
    width: 380px;
}
.appointment{
    width: 300px;
}
.appointment-info{

    margin: 0;
    margin-bottom: 15px;
}
.appointment-form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.appointment-item{
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}
.appointment-item label{
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
}
.appointment-item input {
    font: inherit;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 140px;
    padding: 8px 15px;

    background-color: transparent;
    border: 2px solid #000000;
}
.appointment-item input:focus,
.appointment-item input:hover {
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: border-color;
    -o-transition-property: border-color;
    -moz-transition-property: border-color;
    transition-property: border-color;
    border-color: #663D15;
    outline: 0;
}
.appointment button{
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.main-footer {
    min-width: 965px;
    color: #ffffff;

    background-color: #242424;
    background-image: url("..../img/footer-pattern.jpg");
    background-position: 0 0;
    background-repeat: repeat;

    margin-top: 67px;
}
.map-link{
    display: block;
    text-align: center;
}
.map-link img{
    width: 100%;
    max-height: 480px;
    max-width: 1280px;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-footer .container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.social-button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 43px;
    height: 43px;

    color: #ffffff;
    background-color: #000000;
}
.social-button:hover,
.social-button:focus{
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    background-color: white;
}
.social-button:hover path,
.social-button:focus path{
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: fill;
    -o-transition-property: fill;
    -moz-transition-property: fill;
    transition-property: fill;
    fill: black;
}

.footer-contacts{
    margin: 0;
    width: 320px;
}
.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}
.footer-social {
    min-height: 100px;
    width: 145px;
    text-align: center;
}
.footer-social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px;

    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-social b{
    display: block;
    margin-bottom: 15px;
}

.footer-copyright{
    width: 150px;
    margin: auto;
}
.footer-copyright b{
    display: block;
    margin-bottom: 15px;
}
.footer-copyright button{
    display: block;
    margin-right: 0;
}

.modal {
    position: fixed;

    color: #000000;
    font-size: 30px;
    line-height: 42px;

    background-color: #f9f6f3;
    background-image: url('../img/pattern-light.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
       -moz-box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
            box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}
.modal-login{
    display: none;
    top: 120px;
    left: 50%;

    min-width: 300px;
    margin-left: -230px;
    padding: 50px 80px 60px;
}
.modal-login h2{
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}
.modal-login input {
    width: 300px;
    height: 43px;
    border: 2px solid #000101;
    background-color: #f9f6f3;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.modal-login input:hover,
.modal-login input:focus {
    border: 2px solid #663d15;
}

.modal-description{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.login-form p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: -35px;

    width: 19px;
    height: 19px;

    font-size: 0px;

    border: 0;

    cursor: pointer;
    background: transparent;
    outline: none;
}
.modal-close::before,
.modal-close::after{
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #f9f6f3;
}
.modal-close::after{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.modal-close::before{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.login-icon-user{
    background-image: url("../img/icons/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}
.login-icon-password{
    background-image: url("../img/icons/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}
.login-form .login-help{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 15px 0;
}
.login-checkbox{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: 10px;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;

    border-color: #663d15;
    outline: none;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
content: "";

    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.restore{
    color: #000000;
    text-decoration: underline;
}
.restore:hover,
.restore:focus{
   text-decoration: none;
}
.login-form .button{
    width: 100%;
    margin-right: 0;
}
.modal-map{
    display: none;
    top: 50%;
    left: 50%;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
}
.modal-map p{
    margin: 0;
}

.filters{
    width: 180px;
}
.filter fieldset{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
}
.filter fieldset:first-child{
    margin-bottom: 35px;
}
.filter legend {
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 25px;
}
.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 14px;
    line-height: 18px;
}
.filter-option{
    margin-bottom: 15px;
    padding-left: 45px;
}
.filter-option label{
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: -42px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: -38px;

    width: 12px;
    height: 12px;

    background-image: url("../img/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-radio + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: -42px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.filter-input-radio:checked + label::after{
    content: "";

    position: absolute;
    top: 6px;
    left: -36px;

    width: 8px;
    height: 8px;

    background-color: #000000;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}
.filter-input:disabled + label{
    color: #000000;
    opacity: 0.5;
}

.catalog-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog{
    width: 700px;
}
.catalog-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}
.catalog-item{
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.1);
       -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.1);
            box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
.catalog-item:nth-child(3n){
    margin-right: 0;
}
.catalog-item:hover{
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    -moz-transition-property: box-shadow, -moz-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow, -moz-box-shadow;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.2);
       -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.2);
            box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
.catalog-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    color: black;
}
.catalog-item h3 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;

    margin: 15px 17px;
    font-size: 14px;
    line-height: 18px;
}
.catalog-category{
    display: block;

    text-transform: none;
}

.catalog-item-price{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    margin: 15px;
    margin-top: 0;
}
.catalog-item-image{
    width: 220px;
    height: 165px;
    margin: 0;
}
.catalog-item-price b{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;

    width: 112px;

    padding: 13px 25px 11px;
    margin-right: 0;

    background-color: #e5e5e5;
}
.catalog-item-price .button{
    line-height: 18px;
    color: #ffffff;

    width: 50px;
    padding: 13px 18px 11px;
    margin-right: 0;
}


.pagination-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}
.pagination-item {
    margin: 5px;
    padding: 0;
}
.pagination-item:last-child {
    margin-right: 0;
    padding: 0;
}
.pagination-item a{
    display: block;

    padding: 10px 19px;
    color: #ffffff;
    background-color: black;
}
.pagination-item a:hover,
.pagination-item a:active,
.pagination-item a:focus{
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    background-color: #663d15;
}

.pagination-item-current a{
    color: #000000;
    background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus{
    background-color: #ffffff;
}

.inner-page .main-footer{
    margin-top: 50px;
}

.button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 35px;

    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;

    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    -webkit-transition-duration: 150ms;
       -moz-transition-duration: 150ms;
         -o-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    background-color: #663D15;
}
.button.disabled,
.button:disabled{
    cursor: default;
    opacity: 0.5;
    background-color: black;
}

/* Стилизация карточки товара*/
.product-photos{
    width: 460px;
}
.product-info{
    width: 390px;
    padding-top: 23px;
}
.product-info p{
    margin: 0;
}
.product-info h3 {
    margin: 0;
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 30px;
}
.product-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-info li{
    position: relative;

    padding-left: 23px;
}
.product-info li::before{
    content: "";

    position: absolute;
    top: 7px;
    left: 2px;

    width: 8px;
    height: 8px;

    background-color: #000000;

    -webkit-transform: rotate(45deg);

       -moz-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

         -o-transform: rotate(45deg);

            transform: rotate(45deg);
}
.product-info .product-price{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 63px;
}
.product-info .product-text{
    margin-bottom: 35px;

}
.product-price b{
    min-width: 115px;
    padding: 12px 36px;

    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;

    -webkit-box-sizing: border-box;

       -moz-box-sizing: border-box;

            box-sizing: border-box;
}
.product-price .button{
    padding-right: 17px;
    padding-left: 17px;
}
.product-photo-preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-photo-preview li {
    width: 140px;
    height: 149px;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.product-photo-preview li:nth-child(3n){
    margin-right: 0;
}
.product-photo-full {
    width: 460px;
    height: 498px;
    margin: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.product-description{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 29px;
}
.product-description p{
    width: 200px;
}
.product-article {
    color: #aeaeae;
    text-align: right;
}

.product-price b {
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.inner-page {
    color: #000000;

    background-color: #fdfaf7;
    background-image: url("../img/background-inner-page.png");
    background-position: 0 0;
    background-repeat: repeat;

    font-weight: bold;
}
.inner-page .main-header{
    margin-bottom: 55px;
}
.inner-page .main-header-logo{
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 115px;
    height: 22px;
    padding: 23px 20px;
}

.inner-page .main-navigation{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.inner-page .user-navigation{
    margin-left: auto;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    list-style: none;
}
.breadcrumbs li{
    position: relative;

    margin-right: 45px;
}
.breadcrumbs li::after{
    content: "";

    position: absolute;
    top: 7px;
    right: -25px;

    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);

    background-color: #000000;
}
.breadcrumbs li:last-child{
    margin-right: 0;
}
.breadcrumbs a{
    color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}
.breadcrumbs-current{
    color: #aba9a7;
}
.breadcrumbs-current::after{
    display: none;
}

.inner-page__wrapper{
    margin: auto;
    padding: auto;
    width: 940px;
}
.inner-content{
    margin-bottom: 75px;
}
.inner-content h2{
    margin-top: 60px;
    margin-bottom: 30px;
}
.inner-content .big-heading{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.inner-content .big-heading::before,
.inner-content .big-heading::after{
    content: "";

    -webkit-box-flex: 1;

    -webkit-flex-grow: 1;

       -moz-box-flex: 1;

        -ms-flex-positive: 1;

            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;

    width: 10px;
    height: 2px;

    background-color: black;
}
.inner-content .big-heading::before{
    margin-right: 25px;
}
.inner-content .big-heading::after{
    margin-left: 25px;
}

.inner-content h3{
    margin-top: 60px;
    margin-bottom: 30px;
 
    font-size: 24px;
    line-height: 30px;
}
.inner-content h2 + h3{
    margin-top: 30px;
}
.inner-content p{
    margin: 14px 0;
}
.inner-content table{
    border-collapse: collapse;
}
.inner-content td{
    border: 2px solid black;
    padding: 10px 15px;
}

.custom-list-1{
    margin: 14px 0;
    padding: 0;
    list-style: none;
}
.custom-list-1 li{
    position: relative;

    margin-bottom: 15px;
    padding-left: 20px;
}
.custom-list-1 li::before{
    content: "";

    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: black;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.custom-table-1{
    width: 100%;
}
.custom-table-1 td{
    width: 50%;
}
.custom-table-1 td:last-child{
    text-align: center;
}
.inner-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 60px 0;
}
.inner-column-left,
.inner-column-right{
    width: 460px;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child{
    margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child{
    margin-bottom: 0;
}
.inner-columns > h2:first-child{
    width: 100%;
}
.short-text{
    padding-right: 60px;
}

.modal-show{
    display: block;

    z-index: 20;

    -webkit-animation-name: bounce;

       -moz-animation-name: bounce;

         -o-animation-name: bounce;

            animation-name: bounce;
    -webkit-animation-duration: 0.6s;
       -moz-animation-duration: 0.6s;
         -o-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
.modal-error{
    -webkit-animation-name: shake;
       -moz-animation-name: shake;
         -o-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 0.6s;
       -moz-animation-duration: 0.6s;
         -o-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

.glass-for-modals{
    display: none;
}
.glass-open-modals{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: block;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aba9a7), color-stop(#cfd8db), color-stop(#b6bcc0), to(#aba9a7));
    background-image: -webkit-linear-gradient(#aba9a7, #cfd8db, #b6bcc0, #aba9a7);
    background-image: -moz-linear-gradient(#aba9a7, #cfd8db, #b6bcc0, #aba9a7);
    background-image: -o-linear-gradient(#aba9a7, #cfd8db, #b6bcc0, #aba9a7);
    background-image: linear-gradient(#aba9a7, #cfd8db, #b6bcc0, #aba9a7);
    opacity: 0.3;
}